@import "tailwindcss";

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(23, 23, 23);
  --font-sans: "Inter", "Helvetica", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(16, 16, 24);
    --foreground: rgb(236, 236, 236);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
